<!DOCTYPE html>
<html
  lang="en"
  class="text-zinc-950 antialiased lg:bg-zinc-100 dark:bg-zinc-900 dark:text-white dark:lg:bg-zinc-950"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>The Stack</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <PhoenixVite.Components.assets
      names={["js/app.js", "css/app.css"]}
      manifest={{:thexstack, "priv/static/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(ThexstackWeb.Endpoint)}
      to_url={fn p -> static_url(@conn, p) end}
    />
  </head>
  <body>
    <div id="preact-app"></div>
  </body>
</html>
